@import url("https://use.typekit.net/mgz8xby.css");

// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.hero-gradient {
  height: 560px;
  background: #FF009D;
  background: linear-gradient(159.41deg, #FF009D 3.42%, #F5B324 96.5%);
  width: 120%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  transform: rotate(-3deg);
}

.hero-images {
  max-width: 600px;
  min-width: 300px;
  width: 40%;
  margin: 0 auto;

  .hero-welcome {
    width: 34%;
  }

  .hero-logo {
    width: 100%;
  }
}

.page-content {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(24, 17, 3, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(24, 17, 3, 0.14);
  border-radius: 4px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 90px;
}
