// component styles are encapsulated and only applied to their components

h1 {
  text-transform: uppercase;
  font-family: futura-pt, arial;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.5px;
}